.requiredIndicator {
    margin-left: var(--bs-p-3);
    background-color: hsl(355, 100%, 90%);
    color: hsl(355, 100%, 70%);
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 0.3px;
    border: 1px solid hsl(355, 100%, 70%);
}
/* .requiredIndicator {
    margin-left: var(--bs-p-3);
    background-color: rgba(255, 0, 21, 0.35);
    color: rgba(255, 11, 31, 0.8);
    font-weight: 600;
    font-size: 0.7em;
    letter-spacing: 0.3px;
    opacity: 0.8;
    border: 1px solid rgba(255, 11, 31, 0.8);
} */