/* .card-img-thumbnail{
    position: relative;
} */
.cardWrp{
    
}

.card__imgWrap{
    border-radius: var(--bs-rounded-3);
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 0.6;
    transition: transform 350ms ease;
}

.card__imgWrap > img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card{
    position: relative;
}

.card .card__body{
    padding: 5px;
}

.card .card__flagWrp{
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 5px solid white;
    bottom: 0;
    left: 10%;
    transform: translateY(50%);
    box-shadow: var(--bs-box-shadow);
}

.card .card__flagWrp::before{
    content: "";
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    /* box-shadow: var(--bs-box-shadow-inset); */
    box-shadow: inset 0px 2px 5px 0px rgba(0 0 0 / 0.5);
    border-radius: inherit;
    inset: 0;
}

.card .card__flagWrp > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__rating{
    /* position: relative;
    right: 0; */
}
.card .card__title{
    font-family: var(--bs-font-sans);
    color: black;
    font-weight: bold;
}

.card .card__title a{
    text-decoration: none;
}
.card:hover .card__title{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.icon{
    width: 15px;
    height: 15px;
}

.card .card__body .price_old{
    color: var(--bs-gray-600);
    text-decoration: line-through;
}

.card{
    /* transition: transform 350ms ease; */
}

.card:hover .card__imgWrap{
    transform: scale(1.15);
}

@media (width < 768px){
    .card:hover .card__imgWrap{
        transform: none;
    }
}