.archedImg__wrp_honeymoon{
    aspect-ratio: 1 / 1.5;
    max-height: 80vh;
}

.archedImg__img_honeymoon {
    /* aspect-ratio: 1 / 1.5; */
    margin: 6% 11% 0% 12%;
    background-image: url("/assets/images/decorative/arched_img-honeymoon.png");
    background-position: 55% 75%;
    background-size: auto 200%;
    /* max-height: 80vh; */
}

.archedImg__img_honeymoon::before {
    right: -17px;
    left: 10px;
    /* background: linear-gradient(white, white) padding-box, linear-gradient(to top, #3b90fb, #a7327a) border-box; */
}

.archedImg__img_honeymoon .archedImg_txt__honeymoon {
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    transform-origin: bottom left;
}

.archedImg__img_honeymoon .archedImg_bubbleImg {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    background-position: 45% 75%;
    background-size: auto 200%;
}

.archedImg__img_honeymoon .archedImg_bubbleImg:nth-of-type(1) {
    top: 25%;
    left: -12%;
    width: 25%;
    background-image: url("/assets/images/decorative/bubble_img_01.png");
    box-shadow: var(--bs-shadow-lg);
}

.archedImg__img_honeymoon .archedImg_bubbleImg:nth-of-type(2) {
    top: -5%;
    left: 0;
    width: 40%;
    background-image: url("/assets/images/decorative/bubble_img_02.png");
}

.archedImg__img_honeymoon .archedImg_bubbleImg:nth-of-type(3) {
    top: 0;
    left: 60%;
    width: 13%;
    background-image: url("/assets/images/decorative/bubble_img_03.png");
    box-shadow: var(--bs-shadow-lg);
}

.plusGrid {
    z-index: -1;
    position: absolute;
    right: -12%;
    bottom: -5%;
    width: 35%;
}

/* #honeymoon-specials .section-header{
    width: min-content;
  }
  #honeymoon-specials .section-header > .h1{
    text-wrap: nowrap
  }
  
  @media (width <= 768px) {
    #honeymoon-specials .section-header{
      width: unset;
    }
  
    #honeymoon-specials .section-header > .h1{
      text-wrap: unset
    }
  } */


@media (width < 768px) {
    .archedImg__wrp_honeymoon {
        margin: 0 auto;
    }
}

@media (width < 350px) {
    #honeymoon-specials .section-header {
        text-align: center;
    }

    .honeymoon-img-cnt {
        aspect-ratio: 0.4 / 1;
    }
}