.section__header{
    /* background-color: aquamarine; */
    /* text-align: center; */
}

/* .section_header__minContent{
    text-wrap: nowrap;
} */


.title{
    color: var(--bs-primary);
    font-family: var(--bs-sans-serif);
    font-weight: var(--bs-fw-semibold);
    text-transform: uppercase;
}

.subtitle{
    font-weight: var(--bs-fw-bold);
}